@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination-container {
  display: flex;
  align-items: center;
}

.paginate-buttons {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #015289;
  background-color: #fff;
  border: 1px solid #015289;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.paginate-buttons:hover {
  color: #fff;
  background-color: #015289;
  border-color: #015289;
}

.active-page {
  color: #fff;
  background-color: #015289;
  border-color: #015289;
}

.active-page:hover {
  background-color: #2988c8;
}
